//- Define layout
extends layout/main

//- Pass variables to layout
block variables
    - var title = "Angular Movie Demo"

//- Append content block to layout
append content

    form.search
        label.search__fieldwrapper( for="query" )
            input.search__field#query( type="text" name="query" ng-model="query" ng-change="search()" )

    section.results( ng-if="results.length" ng-cloak )
        h1 Search results
        .results__movies
            article.results__movie( ng-repeat="movie in results" ng-cloak )
                img.results__movie-poster( ng-if="movie.poster_path" ng-src="{{config.images.secure_base_url}}{{config.images.poster_sizes[1]}}{{movie.poster_path}}" )
                h1.results__movie-title {{ movie.title }}

    section.popular
        h1 Popular movies
        .popular__movies
            article.popular__movie( ng-repeat="movie in popularMovies" ng-cloak ng-click="showMovieModal(movie)" )
                img.popular__movie-poster( ng-src="{{config.images.secure_base_url}}{{config.images.poster_sizes[1]}}{{movie.poster_path}}" )
                h1.popular__movie-title {{ movie.title }}

    .movie-modal( style="background-image: url({{config.images.secure_base_url}}{{config.images.backdrop_sizes[2]}}{{modalMovie.backdrop_path}});" ng-if="modalMovie" )
        h1 {{ modalMovie.title }}
