.popular {
	position: relative;
}

.popular__movies {
	overflow: hidden;
	margin: 0 -10px;
	text-align: center;
}

.popular__movie {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	width: 174px;
    padding: 10px;
    background-color: rgb(255,255,255);
}
.popular__movie-title {
	font: {
		size: 13px;
		weight: normal;
	}
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popular__movie-poster {
	position: relative;
	margin: 0 auto;
}
