.results {
	position: relative;
    padding: 20px 0;
}

.results__movies {
	overflow: hidden;
	text-align: center;
}

.results__movie {
	position: relative;
	display: inline-block;
	margin: 5px 10px;
	width: 174px;
    height: 290px;
    padding: 10px;
    background-color: rgb(255,255,255);
    overflow: hidden;
}
.results__movie-title {
	position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 0;
    font: {
		size: 13px;
		weight: normal;
	}
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.results__movie-poster {
	position: relative;
	margin: 0 auto;
}
